/* Accounts.css */

.accounts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* Accounts.css */

.create-account-form {
  display: flex;
  flex-direction: row; /* Change to row to make form elements horizontally inline */
  align-items: center;
  margin-bottom: 20px;
}

.create-account-form input[type="text"] {
  /* Keep width as needed */
  padding: 10px;
  margin-right: 10px; /* Add spacing between fields */
  border: 1px solid #ccc;
  border-radius: 4px;
}

.create-account-form input:not(#handle) {
  cursor: auto;
  opacity: 0.5;
}

.create-account-form button:hover {
  cursor: pointer; /* Change cursor on hover for "Enter handle" input and submit button */
}

.create-account-form button {
  background-color: #2196f3;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
}

.create-account-form button:hover {
  background-color: #1976d2;
}

.account-list {
  width: 100%;
}

.account-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
}

.empty-row {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; /* Adjust the height to your preference */
  font-size: 18px; /* Increase font size for better visibility */
  color: #777; /* Choose a color that's less prominent */
}

.account-info p {
  margin: 0;
  font-size: 16px; /* Larger font size */
  color: #333; /* Darker text color */
  padding: 5px 0; /* Add padding for spacing between rows */
}

.delete-button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.delete-confirmation {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.delete-confirmation p {
  margin: 0;
  margin-bottom: 10px;
}

.delete-confirmation button {
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  margin-right: 10px;
  cursor: pointer;
}

.delete-confirmation button:last-child {
  background-color: #2196f3;
}

.delete-confirmation button:hover {
  background-color: #d32f2f;
}

.delete-confirmation button:last-child:hover {
  background-color: #1976d2;
}
