/* Style for the form */
form {
  position: relative;
}

form .fields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
}

/* Style for the input divs */
form .fields .input-div {
  flex-basis: 50%; /* Takes up half the container width */
  box-sizing: border-box; /* Include padding and border in element's total width and height */
  display: flex; /* Make it a flex container */
  align-items: center; /* Center items vertically */
  margin-bottom: 10px;
}

/* Style for the labels */
form .fields .input-div label {
  flex: 1;
  text-align: left;
  margin-right: 8px; /* Add some space between the label and the input */
}

/* General style for inputs */
form .fields .input-div input,
form .fields .input-div select {
  flex: 2;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  z-index: 0;
  cursor: pointer;
}

/* Style for disabled inputs */
form .fields .input-div input:disabled,
form .fields .input-div select:disabled,
form .fields .input-div input:read-only {
  background-color: #f1f1f1; /* Gray background */
  color: #a9a9a9; /* Gray text */
}

form .fields .input-div input:disabled,
form .fields .input-div select:disabled {
  pointer-events: none;
}

form .submit {
  display: block;
  margin-left: auto;
  margin-right: 0;
}

form .job-details-section,
form .job-config-section {
  flex-direction: column;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  form .input-div {
    flex-basis: 100%; /* Takes up the whole container width */
  }
}
