/* Navbar.css */

.navbar {
  background-color: #2196f3; /* Material Design primary color (blue) */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  height: 36px;
  color: white; /* Text color for links */
  font-family: inherit; /* Use the font from the global styles */
}

.navbar .go-back {
  float: left;
  font-size: 30px;
  color: white; /* Make the button white */
  cursor: pointer; /* Make it clear it's clickable */
  transition:
    transform 0.3s,
    color 0.3s; /* Transition for hover effect */
}

.navbar .go-back:hover {
  transform: scale(1.1); /* Slightly enlarge the button when hovered */
  color: #f0f0f0; /* Make it a little bit lighter when hovered */
}

.navbar-container {
  max-width: 80%; /* Limit to 80% of window width */
  margin: 0 auto; /* Center horizontally */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Ensure it takes up 100% of its parent's width */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #1976d2; /* Material Design primary color (blue) - darker shade */
}

.navbar .content-left {
  display: inline-block;
}

.navbar .current-page-label {
  float: right;
  margin-left: 10px;
}

/* Existing styles */
/* ... */

.navbar .current-page {
  margin-left: 20px;
  font-size: 24px;
  font-weight: bold;
}

.navbar .nav-left {
  display: flex;
  align-items: center;
}

.navbar .nav-links li.active {
  border-bottom: 2px solid white; /* Or any other style you like */
}

/* You can add more styling for responsive design, hover effects, or other Material Design elements as needed. */

/* Example: Media query for responsive design */
@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    margin-top: 10px;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
